<div class="newtripform">

    <form class="addatrip">

        <div>
            <input type="text" placeholder="Field Trip Name" required>
        </div>
        <div>
            <input type="date" name="trip date" placeholder="Date" required>
        </div>
        <div>
            <input type="text" placeholder="Start Time" required>
        </div>
        <div>
            <input type="text" placeholder="End Time" required>
        </div>
        <div>
            <input type="text" placeholder="Fee" required>
        </div>
    </form>
    <button>Submit</button>
</div>
