<form class="SignUpForm">
        <div class="button">
            <a class="btn green">Sign Up</a>
        </div>

        <div class="button">
            <a class="btn green">Log In</a>
        </div>
</form>

        <div class="menu">
            <div class="pure-menu pure-menu-horizontal">
                <a href="#" class="pure-menu-heading pure-menu-link">HOME</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">FEATURES</a>
                    </li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">ABOUT</a>
                    </li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


