<div class="specialexamplemenu">
    <div class="pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading pure-menu-link">DASHBOARD</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">TRIPS</a>
            </li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">PARENTS</a>
            </li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">LOGIN</a>
            </li>
        </ul>
    </div>
</div>

<div id="parentsdiv">
    <ul id="parentslist">

        <% data.each(function(parent){ %>
            <div class="parentsapi">
                <h4>Student: <%= parent.get('student_full_name') %> </h4>
                <span><strong> Dietary Restrictions: <%= parent.get('health_dietary') %> </strong></span>
                <span>Parent: <%= parent.get('first_name') %> <%= parent.get('last_name') %> </span>
                <span> E-mail: <a href = "mailto:<%= parent.get('email') %>"> <%= parent.get('email') %> </span>
            </div>
            <% }) %>
    </ul>
</div>
