<div class="dashboardmenu">
    <div class="pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading pure-menu-link">HOME</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">FEATURES</a>
            </li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">ABOUT</a>
            </li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">LOGIN</a>
            </li>
        </ul>
    </div>
</div>
</div>

<div class="teacher">
<h4>Teacher Login:</h4>
<form class = "login">
    <div><input type="email" placeholder="email/username" name="email" required></div>
    <div><input type="password" placeholder="password" name="password" required></div>

    <div class="button">
    <a class="btn green" id="loginbutton" href="#trips" name="login"> Login </a>
    </div>
</form>
<br>
<h4>If you do not have an account, please register here:</h4>
<form class = "register">
    <div><input type="email" placeholder="email/username" name="email" required></div>
    <div><input type="password" placeholder="password" name="password" required></div>
    <div><input type="password" placeholder="re-enter password" name="passwordrepeat" required></div>

    <div class="button">
    <a class="btn green"> Register </a>
    </div>
</form>
</div>

